* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 1440px;
  min-height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: url(./images/bg-intro-desktop.png) no-repeat rgb(255, 122, 122);
}

p {
  font-size: 16px;
  line-height: 1.4;
}

#main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  align-items: center;
  min-height: 95vh;
  margin: 0px auto 0px auto;
  max-width: 80%;
  color: white;
}

input[type="submit"],
button {
  cursor: pointer;
}

/* Left side */

#text-part h1 {
  font-size: 50px;
  line-height: 1;
}

#text-part p {
  margin-top: 20px;
}

/* Right side */

#cta-part {
  display: flex;
  flex-direction: column;
}

.btn__cta {
  font-family: "Poppins";
  font-size: 15px;
  background-color: #5c54a2;
  color: white;
  padding: 20px;
  border-radius: 10px;
  border: none;
  margin-bottom: 25px;
  box-shadow: 0px 7px 0px 0px rgb(219, 103, 103);
  -webkit-box-shadow: 0px 7px 0px 0px rgba(219, 103, 103);
  -moz-box-shadow: 0px 7px 0px 0px rgba(219, 103, 103);
}

.btn__cta > span {
  font-weight: 700;
}

#form-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 30px 40px 50px 40px;
  box-shadow: 0px 7px 0px 0px rgb(219, 103, 103);
  -webkit-box-shadow: 0px 7px 0px 0px rgba(219, 103, 103);
  -moz-box-shadow: 0px 7px 0px 0px rgba(219, 103, 103);
}

#form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.form__field {
  width: 100%;
}

.input__shape {
  padding: 20px;
  border: 1px solid #b9b6d3;
  border-radius: 5px;
}

.input__shape:focus {
  outline: 1px solid #5c54a2;
}

.input__shape:focus::placeholder {
  color: rgb(50, 50, 50);
}

.input__shape::placeholder {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
}

.btn__submit {
  text-transform: uppercase;
  background-color: #38cc8c;
  color: white;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgb(47, 175, 120);
  margin-top: 10px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.5px;
  box-shadow: 0px -3px 0px 0.5px rgba(47, 175, 120, 0.73) inset;
  -webkit-box-shadow: 0px -3px 0px 0.5px rgba(47, 175, 120, 0.73) inset;
  -moz-box-shadow: 0px -3px 0px 0.5px rgba(47, 175, 120, 0.73) inset;
}

#form-part p {
  margin-top: 15px;
  font-size: 11px;
  color: #b9b6d3;
}

#form-part a {
  font-weight: 700;
  color: rgba(255, 0, 0, 0.7);
  text-decoration: none;
}

/* Form Validation */

.error {
  border: 1px solid red;
  background: url(./images/icon-error.svg) top 50% right 5% no-repeat no-repeat;
}

.error.input__shape:focus {
  outline: 1px solid red;
}

.error.input__shape::placeholder {
  color: rgba(255, 0, 0, 0.7);
  font-weight: 600;
}

.error__message {
  margin-top: -5px;
  font-style: italic;
  font-size: 12px;
  text-align: end;
  color: rgba(255, 0, 0, 0.7);
}

.error__icon {
  display: none;
}

/* Attribution */

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 15px auto 10px auto;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Queries */

@media screen and (min-width: 320px) and (max-width: 767px) {
  #main__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    margin: 0px auto 0px auto;
    max-width: 90%;
  }

  #text-part {
    text-align: center;
    margin: auto;
    max-width: 90%;
  }

  #text-part h1 {
    margin-top: 80px;
    font-size: 25px;
    line-height: 1.4;
  }

  #text-part p {
    font-size: 16px;
    margin-top: 20px;
  }

  .btn__cta {
    padding: 20px 60px;
  }

  .btn__cta > span {
    font-weight: 600;
  }

  #form-part {
    padding: 15px 20px 25px 20px;
  }

  .input__shape {
    padding: 18px;
  }

  .input__shape::placeholder {
    font-size: 13px;
    font-weight: 500;
  }

  #form-part p {
    max-width: 80%;
  }

  .btn__submit {
    padding: 18px;
    font-size: 14px;
  }
}
